body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container p {
    font-size: 20px;
    margin-bottom: 20px; /* Space between paragraph and cards */
}
.container .card {
    display: block; /* Divs are block elements by default, but this reinforces it */
    margin-bottom: 10px; /* Space between each card */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    margin-left: auto; /* Center cards horizontally */
    margin-right: auto; /* Center cards horizontally */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.card p {
    margin: 10px 0 0;
    font-size: 20px;
    color: #777;
}