<!DOCTYPE html>
<html>
<head>
    <title>Edit Client</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clients.css') }}">
</head>
    <body>
    <h1>Current Clients</h1>
    <div class="container">
        {% for client in clients %}
        
        <a href="/edit/{{ client.id }}" class="card">
            <div>            
                <b>{{ client.name }}</b>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="header-button-container">
        <button class="header-button" onclick="window.location.href='/add';"><b>Add</b> a Client</button> 
        <button class="header-button" onclick="window.location.href='/';">Go <b>Back</b></button>
    </div>
    </body>
</html>