<!DOCTYPE html>
<html>
<head>
    <title>Client Management</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
    <button onclick="window.location.href='/clients';">Clients</button>

    <div class="container">
            <p>Next sessions: </p>
            {%for session in nextSessions%}
       
            <div class="card">
                {{ session.name }}
                {{ daysOfTheWeek[session.dayofthesession] }}
                {{ session.sessiontime }}
            </div>
            {% endfor %}
    </div>
    
    <div class="container">
        <p>Next payments: </p>
        
        {%for client in nextPayments%}
   
        <div class="card">
            {{ client.payday }} {{ client.name }} R$ {{ client.packagePrice }}
        </div>
        {% endfor %}
    </div>

</body>
</html>
